.overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  background-color:#444444;
  opacity:0.5;
  filter:alpha(opacity=50);
}

.exit {
  position: absolute;
  right: -20px;
  top: -20px;
  z-index:4;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: rgb(180,180,180);
}

.exit:hover {
  cursor: pointer;
}

.profile {
  display: flex;
  padding: 20px 20px;
  position: fixed;
  border-radius: 4px;
  z-index:3;
  background-color: #efefef;
  top: 50px;
  left: 50%;
  width: 800px;
  margin-left: -400px;
  height: 570px;
}

.profile-top-row {
  display: flex;
  flex-direction: column;
}

.profile-card {
  padding: 0px;
  margin: 10px 10px;
  flex-direction: column;
}

.basic-info {
  width: 150px;
  height: 200px;
}

.profile-img img{
  width: 150px;
  border-radius: 5px;
}

.profile-img {
  margin: 0 auto;
}

.profile-name {
  margin: 10px 0px 0px 10px;
  font-size: 1em;
}

.profile-github {
  margin-left: 10px;
  margin-bottom: 10px;
}

.profile-github a {
  text-decoration: none;
  color: #8b1919;
  font-size: 0.9em;
}

.match-stats {
  flex-direction: column;
  justify-content: center;
  clear: right;
  height: 180px;
  width: 150px;
}

.win-loss-record {
  text-align: center;
}

.profile-record {
  text-align: center;
  font-size: 0.9em;
}

.elo-rating {
  padding: 10px;
}

.elo-rating h2 {
  margin-top: -10px;
  font-size: 1em;
  font-weight: 300;
}

.elo-rating-content {
  text-align: center;
  font-size: 2.5em;
  color: #8b1919;
}

.profile-matches {
  margin: 10px;
  height: 510px;
}

.match-grid-header {
  margin: 20px 30px 5px 30px;
  font-size: 1.5em;
  font-weight: 300;
}

.profile-match-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  width: 570px;
  height: 430px;
}

.opponent-profile-image {
  height: 75px;
}

.match-result {
  display: flex;
  justify-content: center;
  align-items: center;;
  flex-direction: column;
  font-size: 2em;
  font-weight: 600;
  width: 75px;
}

.match-won {
  color: rgba(0,51,0,0.8);
}

.match-lost {
  color: rgba(128,0,0,0.8);
}

.match-detail-opponent {
  width: 170px;
}

.match-detail-challenge-title {
  font-size: 12px;
  width: 120px;
}

.match-detail-date {
  font-size: 12px;
  width: 0px;
}

.match-opponent-url {
  margin-bottom: 3px;
}

.match-card-container {
  margin: 10px;
}

.match-profile-card {
  margin: 10px;
  text-decoration: none;
  color: rgb(127, 127, 127);
  width: 520px;
  height: 75px;
  display: flex;
  align-items: center;
}

.match-profile-card-blank {
  width: 500px;
  height: 75px;
  margin: 10px;
}

div.match-profile-card:hover {
  border-right: 10px solid #8b1919;
}

.profile-offset-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 5px rgba(0,0,0,0.24);
  margin: 0;
}

canvas{
  width: 80% !important;
  max-width: 800px;
  height: auto !important;
}
