.overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  background-color:#444444;
  opacity:0.5;
  filter:alpha(opacity=50);
}

.exit {
  position: absolute;
  right: -10px;
  top: -10px;
  z-index:4;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: rgb(180,180,180);
}

.exit:hover {
  cursor: pointer;
}

.profile {
  display: flex;
  padding: 20px 20px;
  position: fixed;
  border-radius: 10px;
  z-index:3;
  background-color: #efefef;
  top: 50px;
  left: 50%;
  width: 86%;
  height: 90%;
  margin-left: -43%;
}

.profile-top-row {
  display: flex;
  flex-direction: column;
}

.profile-card {
  padding: 10px;
  margin: 10px 10px;
  flex-direction: column;
}

.basic-info {
  display: flex;
  width: 230px;
  height: 280px;
}

.profile-img img{
  width: 200px;
  border-radius: 5px;
  margin: 5px auto;
}

.profile-img {
  margin: 0 auto;
}

.profile-name {
  margin: 3px 0;
  font-size: 1.5em;
}

.match-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  clear: right;
  height: 280px;
  width: 230px;
}

.win-loss-record {
  text-align: center;
}

.profile-record {
  text-align: center;
  font-size: 1.2em;
}

.profile-matches {
  margin-top: 10px;
  width: 100%
}

.match-grid-header {
  margin: 20px 30px 5px 30px;
  font-size: 1.5em;
  font-weight: 300;
  width : 100%;
}

.profile-match-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  height: 80%;
  overflow-y: scroll;
}

.opponent-profile-image {
  height: 56px;
  width: 56px;
}

.match-result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
  font-weight: 600;
  margin-left: 10px;
}

.match-won {
  color: rgba(0,51,0,0.8);
}

.match-lost {
  color: rgba(128,0,0,0.8);
}

.match-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.match-opponent-url {
  margin-bottom: 3px;
}

.match-profile-card {
  text-decoration: none;
  color: rgb(127, 127, 127);
}

.match-profile-card link {
  color: rgb(127, 127, 127);
}

.profile-offset-card {
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 2px 6px rgba(0,0,0,0.24);
}
