html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #7f7f7f;
}

.content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  z-index: 0;
  padding-top: 50px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.36);
}

.content-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.content-header h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.content-header-handle {
  width: 40px;
  overflow: hidden;
}

.content-header-handle img {
  height: 40px;
  width: auto;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: border 0.2s ease-in-out;
  border-right: 0px solid #8b1919;
}

.card-clickable:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-right: 20px solid #8b1919;
  transition: border 0.2s ease-in-out;
}

.card-vertical {
  border-bottom: 0px solid #8b1919;
  transition: all 0.2s ease-in-out;
}

.card-vertical-clickable:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  border-bottom: 10px solid #8b1919;
  transition: all 0.2s ease-in-out;

}

.card-content {
  padding: 20px;

}

button {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  border: 0px;
}

button:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 5px 10px rgba(0,0,0,0.23);
  transition: all 0.2s ease-in-out;
}

.submit {
  background-color: #8b1919;
  color: #ffffff;
  font-weight: 700;

}

.reset {
  background-color: #555555;
  color: #ffffff;
  font-weight: 700;
}


/* Splash page */
.splash {
  background-color: #efefef;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash a {
  margin-top: 40px;
  color: #7f7f7f;
  text-decoration: none;
}

.splash a:hover {
  color: #8b1919;
}

.splash a:hover .card {
  border-right: 10px solid #8b1919
}

.splash-logo {
  width: 100%;
}

.splash-logo img {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.75
}

.github-login {
  background-color: #ffffff;
  width: 360px;
  height: 80px;
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.github-login-handle {
  width: 80px;
  overflow: hidden;
  position: relative;
}

.github-login-handle img {
  position: relative;
  height: 80px
}

.splash a:hover .github-login-handle img {
  left: -80px;
}

.github-login .card-content {
  font-size: 24px;
  text-transform: uppercase;
  width: 270px;
  display: flex;
  justify-content: center;
}

/* Navigation bar */
.nav-bar {
  background-color: #ffffff;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.13);
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav-content {
  width: 100%;
  max-width: 1440px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 30px;
}

.nav-links ul li {
  display: inline
}

.nav-links a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #7f7f7f;
  padding: 16px 15px 13px 15px;
  border-bottom: 3px solid transparent;
}

.nav-links a:hover {
  background-color: #ffffff;
  border-bottom: 3px solid #8b1919;
  color: #8b1919;
}

/* Staging */
.staging {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}



.mode {
  background-color: #ffffff;
  width: 300px;
  height: 400px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.mode-handle {
  width: 300px;
  overflow: hidden;
}

.mode-handle img {
  height: 300px;
  width: auto;
}

.mode:hover img {
  position: relative;
  left: -300px;
}

.mode h3 {
  font-size: 40px;
  font-family: Roboto;
  font-weight: 300;
  letter-spacing: 4px;
  padding-top: 5px
}

.mode:hover h3 {
  color: #8b1919;
}

.mode-description {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: black;
  color: #ffffff;
  padding: 10px;
  width: 300px;
  height: 300px;
  opacity: 1;
}

.mode:hover .mode-description {
}


/* Solo staging */
.challenge-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 470px;
  z-index: 3;
  position: fixed;
  max-height: 90%;
  left: 50%;
  margin-left: -235px;
  top: 50px;
}

.challenge-list-container {
  width: 470px;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  background-color: #efefef;
  border-radius: 4px;
  overflow-y: auto;
}

.challenge-card {
  width: 400px;
  height: 80px;
  margin: 10px;
  display: flex;
}

.challenge-card:hover {
  border-right: 10px solid #8b1919;
}

.challenge-card-handle {
  width: 80px;
  color: #ffffff;
  font-size: 30px;
  overflow: hidden;
}

.challenge-card-handle img {
  height: 80px;
  position: relative;
}

.challenge-card:hover .challenge-card-handle img {
  right: 80px;
}

.challenge-card .card-content {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.challenge-card:hover .card-content {
  color: #8b1919;
}

.challenge-card .challenge-date {
  font-size: 12px;
  margin-top: -10px;
}

.challenge-card-blank {
  width: 400px;
  height: 80px;
  margin: 10px;
}

.staging-exit-container {
  position: absolute;
  top: -20px;
  right: 50%;
  z-index: 4;
  margin-right: -255px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.staging-exit {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: rgb(180,180,180);
  position: relative;
  z-index: 3;
}

/* Arena */

/* Solo arena */
.arena {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column
}

.solo-editor {
  width: 100%;
  height: 75%;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #aaa
}

.arena-buttons, .challenge-arena-buttons {
  position: relative;
  z-index: 2;
}
.splash-buttons {
  margin:5px;
  width: 400px;
}
.submit-challenge {
  position: absolute;
  right: 30px;
  top: -60px;
  border-radius: 2px;
}

.reset-challenge {
  position: absolute;
  right: 120px;
  top: -60px;
  border-radius: 2px;
}

.console {
  height: 25%;
  width: 100%;
  font-family: Courier, monospace;
  font-size: 20px;
  background-color: #fafa;
  color: #4f4f4f;
  padding: 10px;
  white-space: pre;
  position: relative;
  overflow: auto;

}

.success-messages {
  color: #00bb00;
}

.error-messages {
  color: #ff3333;
}

/* Challenge arena */
.editors {
  display: flex;
  z-index: 0;
}
.player-editor, .opponent-editor {
  height: 75%;
  width:50%;
}

.challenge-arena-buttons {
  width: 50%;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delaysplash {
  white-space: pre;
}

.player-card {
  width: 300px;
  height: 75px;
  margin: 10px;
  display: flex;
}

.player-card-handle {
  width: 75px;
  background-color: #3f3f3f;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.player-card-handle img {
  height: 75px;
}

.player-card .card-content {
  width: 225px;
  display: flex;
  align-items: center;
  font-size: 24px
}

.user-card {
  justify-content: flex-start;
}

.opponent-card {
  justify-content: flex-end;
}

.opponent-card .card-content {
  justify-content: flex-end;
}

.match-opponent-url {
  margin-bottom: 6px;
}

.challenge-title {
  margin-top: 3px;
}

.countdown-card {
  font-size: 16px;
  padding: 15px;
  width: 300px;
  background-color: #8b1919;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.spinner {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 200px;
  left: 50%;
  margin-left: -25px;
  z-index: 10;
}
.challenge-status {
  font-size: 50px;
  color: #FFFFFF;

}

.leaderboard {
  color: #FFFFFF;
  font-size: 15px;
  height: 20px;
  width: 400px;
  margin-top: 10px;
}

.right {
  text-align:right;
}

.left {
  text-align:left;
}

.description-staging {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position:relative;
  margin-top:30px;
  height: 100px;
  width: 600px;
}
.description-challenge{
  opacity: 1;
  webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.description-practice{
  opacity: 1;
  webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.github-star {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}
